%styletext {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 18px;
	color: #000000;
}

%styleInput {
	width: 100%;
	height: 48px;
	border: 1px solid rgba(23, 23, 25, 0.2);
	border-radius: 10px;
	font-size: 20px;
	line-height: 24px;
	padding: 15px;
}

$coltext: rgba(23, 23, 25, 0.3);

%styleInputText {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	height: 22px;
	width: 122px;
	color: $coltext;
	display: flex;
}

.error__auth {
	color: red;
	font-size: 10px;
	padding-top: 3px
}

.auth {
	max-width: 510px;
	min-height: 520px;
	border: 1px solid rgba(39, 39, 39, 0.1);
	border-radius: 10px;
	margin: 0 auto;
	text-align: center;
	margin-top: 6.5%;
	padding: 0;
	background: #FFFFFF;

	.auth__logo {
		margin-top: 48.79px;
	}

	.auth__text {
		height: 28px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		margin-top: 40.6px;
		margin-bottom: 20px;
		@extend %styletext;
	}

	.auth__form {
		max-width: 334px;
		height: 200px;
		margin: 0 auto;

		.auth__form_loginText {
			@extend %styletext;
			@extend %styleInputText;
		}

		.auth__form_loginInput {
			@extend %styleInput;
		}

		.auth__form_passwordText {
			position: relative;
			@extend %styletext;
			@extend %styleInputText;
			margin-top: 20px;
		}



		.auth__form_passwordText button::before {
			position: relative;
			content: '';
			background: url('../assets/icon/eye-off.svg') 0 0 no-repeat;
			position: absolute;
			width: 24px;
			height: 24px;
			top: 35px;
			left: 290px;
		}

		.auth__form_passwordTextBtnActive::before {
			position: relative;
			content: '';
			background: url('../assets/icon/passActive.svg') 0 0 no-repeat;
			position: absolute;
			width: 24px;
			height: 24px;
			top: 35px;
			left: 290px;
		}



		.auth__form_passwordInput {
			@extend %styleInput;


		}

		.auth__form_btn {
			margin-top: 20px;
			background: #1390E5;
			border: 0px solid;
			border-radius: 5px;
			width: 176px;
			height: 52px;
			color: #FFFFFF;
			font-weight: 400;
			font-size: 20px;
			line-height: 24px;
		}

		.auth__form_btn:focus {
			background: #0c68a5;
		}
	}
}

@media (max-width: 767px) {
	.auth {
		max-width: 319px;

		.auth__form {

			.auth__form_loginText,
			.auth__form_passwordText {

				margin-left: 16px;
			}
		}

		.auth__form_loginInput,
		.auth__form_passwordInput {
			max-width: 284px;
		}

		.auth__form_passwordText button::before {
			left: 250px !important;
		}

		.auth__form_passwordTextBtnActive::before {
			left: 250px !important;
		}

		.auth__form_loginText {}
	}
}