%styletext {
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 40px;
	color: #000000;

}

%btnstyle {
	height: 30px;
	width: 100px;
	color: rgb(255, 255, 255);
	background-color: #1390E5;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.favorites {
	//margin-top: 80px;
	padding: 40px 213px 40px 213px;
	max-width: 1040px;
	display: flex;
	flex-direction: column;
	align-items: start;
	align-self: start;

	.favorites__header {
		text-align: center;
		vertical-align: middle;
		max-width: 1040px;
		height: 40px;
		margin-top: 40px;
		margin-bottom: 40px;
		@extend %styletext;
	}

	.favoritesElement {
		height: 47px;
		min-width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #F1F1F1;

		.favoritesElement__text {
			margin-right: 300px;
		}

		.favoritesElement__block {
			display: flex;
		}

		.favoritesElement__block_executeBtn {
			@extend %btnstyle;
			margin-right: 20px
		}

		.favoritesElement__block_updateBtn {
			@extend %btnstyle;
		}
	}
}