%styletext {
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 52px;
	color: #000000;
}

.main {
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: center;

	.main__title {
		text-align: center;
		vertical-align: middle;
		height: 52px;
		margin-top: 220px;
		margin-bottom: 40px;
		@extend %styletext;
	}

	.main__form {

		.main__form_input {
			height: 52px;
			width: 536px;
			border-top: 1px solid rgba(39, 39, 39, 0.3);
			border-left: 1px solid rgba(39, 39, 39, 0.3);
			border-bottom: 1px solid rgba(39, 39, 39, 0.3);
			border-radius: 10px 0 0 10px;
			font-size: 20px;
			line-height: 24px;
			padding: 14px 16.55px 14px 15px;

		}

		.main__form_inputFocus {
			height: 52px;
			width: 536px;
			border-top: 1px solid #1390E5;
			border-left: 1px solid #1390E5;
			border-bottom: 1px solid #1390E5;
			border-radius: 10px 0 0 10px;

		}

		.main__form_inputActive {
			height: 52px;
			width: 1040px;
			border-top: 1px solid #1390E5;
			border-left: 1px solid #1390E5;
			border-bottom: 1px solid #1390E5;
			border-radius: 10px 0 0 10px;
			font-size: 20px;
			line-height: 24px;
			padding: 14px 16.55px 14px 15px;
		}

		.main__form_label button {
			border-radius: 0px 10px 10px 0px;
			background-color: #1390E5;
			height: 52px;
			width: 150px;
			color: #FFFFFF;
			font-size: 20px;
			line-height: 24px;
		}	

	}
}

@media (max-width: 767px) {

	.main__form_input {
		max-width: 213px;
		font-size: 16px;
	}

	.main__form_label button {
		max-width: 91px;
		font-size: 16px;
	}
}