%styletext {
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 40px;
	color: #000000;
}

%texthide {
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

$wb: 245px;
$hb: 32px;



.main {

	display: flex;
	flex-direction: column;
	padding: 40px 0px 40px 0px;

	.main__title {
		text-align: start;
		height: 40px;
		margin-bottom: 12px;
		@extend %styletext;
	}

	.main__form {
		max-width: 1040px;

		.main__form_input {
			position: relative;
			height: 52px;
			width: 890px;
			border-top: 1px solid rgba(39, 39, 39, 0.3);
			border-left: 1px solid rgba(39, 39, 39, 0.3);
			border-bottom: 1px solid rgba(39, 39, 39, 0.3);
			border-radius: 10px 0 0 10px;
			font-size: 20px;
			line-height: 24px;
			padding: 14px 16.55px 14px 15px;
		}

		.main__form_iconBtn {
			position: absolute;
			top: 187px;
			left: 71%;
			background-color: rgb(255, 255, 255);
		}

		.main__form_inputFocus {
			height: 52px;
			width: 536px;
			border-top: 1px solid #1390E5;
			border-left: 1px solid #1390E5;
			border-bottom: 1px solid #1390E5;
			border-radius: 10px 0 0 10px;
		}

		.main__form_inputActive {
			height: 52px;
			width: 1040px;
			border-top: 1px solid #1390E5;
			border-left: 1px solid #1390E5;
			border-bottom: 1px solid #1390E5;
			border-radius: 10px 0 0 10px;
		}

		.main__form_label button {
			border-radius: 0px 10px 10px 0px;
			background-color: #1390E5;
			height: 52px;
			width: 150px;
			color: #FFFFFF;
			font-size: 20px;
			line-height: 24px;
			position: relative;
		}

		.main__form_label button::before {
			content: '';
			background: url('../assets/icon/Veс.svg') 0 0 no-repeat;
			position: absolute;
			width: 24px;
			height: 24px;
			top: 15px;
			left: -32px;
		}
	}
}

.video {
	padding: 0px 0px 28px 0px;
	max-width: 1040px;

	.video__title {
		display: flex;
		justify-content: space-between;

		.video__title_header {
			height: 24px;
			font-size: 16px;
			line-height: 24px;
			display: flex;
			align-items: center;
			margin-bottom: 20px;
		}

		q {
			quotes: "«""»";
		}

		q::before {
			content: open-quote;
		}

		q::after {
			content: close-quote;
		}

		.video__title_icon button:nth-child(1) {
			margin-right: 20px;
		}
	}

	.video__list {
		display: grid;
		grid-auto-rows: 218px;
		grid-template: 1fr / repeat(4, 245px);
		align-items: flex-start;
		justify-content: space-between;
		grid-row-gap: 28px;

		.video__btn_iconList {
			background-color: #E5E5E5;
		}

		.videoCard {
			display: flex;
			flex-direction: column;
			height: 218px;

			.videoCard__item {
				height: 137.7px;
				max-width: 245px;
			}

			.videoCard__title {
				font-weight: 500;
				font-size: 14px;
				line-height: 16px;
				width: $wb;
				margin-bottom: 8px;
				margin-top: 8.3px;
				font-weight: 500;
				font-size: 14px;
				line-height: 16px;
				@extend %texthide;

			}

			.videoCard__description {
				font-weight: 400;
				font-size: 14px;
				line-height: 16px;
				width: $wb;
				color: rgba(23, 23, 25, 0.3);
				@extend %texthide;

			}
		}
	}

	.video__list_Active {
		display: grid;
		grid-auto-rows: 87.7px;
		grid-row-gap: 32px;
		max-width: 747px;

	}

	.videoCard_Active {
		height: 87.7px;
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr, 1fr;
		grid-template-areas:
			"column1 column2"
			"column1 column3";

		.videoCard__item_Active {
			min-width: 157px;
			height: 87.7px;
			grid-area: column1;
		}

		.videoCard__title_Active {
			grid-area: column2;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			height: 40px;
			width: 510px;
			font-weight: 500;
			font-size: 14px;
			line-height: 16px;
		}

		.videoCard__description_Active {
			grid-area: column3;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			height: 40px;
			width: 510px;
		}
	}
}

@media (max-width: 1439px) {
	.main__form {
		max-width: 688px;
		margin: 0 auto;

		.main__form_input {
			max-width: 538px;
		}

		.main__form_label button {
			max-width: 150px;
		}
	}

	.video {
		max-width: 688px;
		margin: 0 auto;

		.video__list {
			grid-template: 1fr / repeat(3, 245px);
			grid-row-gap: 20px;

			.videoCard {
				max-width: 216px;

				.videoCard__item {
					width: 216px;
					height: 137.7px;
				}
			}
		}
	}
}

@media (max-width: 767px) {

	.main__form {
		max-width: 303px;
		margin: 0 auto;

		.main__form_input {

			max-width: 213px;
		}

		.main__form_label button {
			max-width: 91px;
		}
	}

	.video {
		max-width: 304px;

		.video__title_header {
			font-size: 12px;
			display: flex;
			justify-content: space-between;
			min-width: 216px;
		}

		.video__list,
		.video__list_Active {
			display: flex;
			flex-direction: column;
		}

		.video__list {}

		.videoCard,
		.videoCard_Active {
			height: 209.7px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;



			.videoCard__item_Active {
				min-width: 303px;
				height: 137.7px;
				display: flex;

				justify-content: flex-start;

			}

			.videoCard__item {
				min-width: 303px;
				height: 137.7px;
				display: flex;
				justify-content: flex-start;
				padding: 0;
				margin: 0;

			}

			.videoCard__title,
			.videoCard__title_Active {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 32px;
				max-width: 303px;
				font-weight: 600;
				font-size: 14px;
				line-height: 16px;

				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;

			}

			.videoCard__description,
			.videoCard__description_Active {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				height: 32px;
				width: 303px;
				font-size: 14px;
				line-height: 16px;

				vertical-align: middle;
				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
			}
		}
	}
}

@media (max-width: 319px) {}